
<div class="container">

  <div class="card bg-dark">
    <div class="p-3 mb-2 bg-dark text-white">

      <div class="card-header"><h3> <%= @genre.genre_name %>  </h3></div>

        <p><%= @genre.description %></p>


      </div>
    </div>
  </div>
